<h1 id='header_pink'>Who Are You, Rira?</h1>

<div class="about_wrapper">
  <ul class="stage clearfix">

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster">
          <h3>PROFILE</h3>
        </div>
        <div class="info">
          <header>

          </header>
          <p class="strong">
            Nationality <br/><span class="strong">Korean</span><br/>
            Language <br/><span class="strong"> Korean, English</span><br/>
            Position <br/><span class="strong">Full-stack Web Delevoper</span><br/>

          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster">
          <h3>EDUCATION</h3>
        </div>
        <div class="info">
          <header>

          </header>
          <p>
            <span class="strong">Web Development Immersive</span class="strong">, Full-time, Genral Assemlby, Sydney, Australia<br/>
            <span class="strong">Photoshop and Adobe Illustrator</span class="strong">, Beginner, Thejoeun Academy, Gwang-Ju, South Korea<br/>
            <span class="strong">Bachelor of Economics & Business Management</span>, Cheonbuk National University, Jeon-ju, South Korea
          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster">
          <h3>INTERESTS</h3>
        </div>
        <div class="info">
          <header>

          </header>
          <p>
            Ruby on Rails<br/>
            TDD<br/>
            Web Design<br/>
            Illustraions<br/>
            Animation
          </p>
        </div>
      </div>
    </li>

  </ul>
</div><!-- /about_wrapper -->