<div class="container-blank"></div>
<div class='ongoing_msg'>
  <div>
    <h4>FORGIVE ME,</h4>
    <%= image_tag('punch.gif') %>
    <h4>I am working on it at the moment</h4>
    <%= image_tag('typing.gif')%>

  </div>

  <div>
    <h4>This Blog is still ongoing </h4>
    <%= image_tag('truck.gif')%>
    <h4>New improvements coming soon!</h4>
    <%= image_tag('freak.gif')%>
  </div>

</div>