<h1 id='header_pink'>Who Are You, Rira?</h1>

<div class="about_wrapper">
  <ul class="stage clearfix">

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>Rira Choi</h1>
            <span class="year">DOB : </span>
            <span class="state">May 22 1987</span>
          </header>
          <p class="strong">
            Nationality: Korean<br/>
            Language : Korean, English<br/>
            Position : Full-stack Web Delevoper<br/>

          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>Education</h1>
            <span class="year">2006-2014</span>
          </header>
          <p>
            <span class="strong">Web Development Immersive</span class="strong">, Full-time, Genral Assemlby, Sydney, Australia<br/>
            <span class="strong">Photoshop and Adobe Illustrator</span class="strong">, Beginner, Thejoeun Academy, Gwang-Ju, South Korea<br/>
            <span class="strong">Bachelor of Economics & Business Management</span>, Cheonbuk National University, Jeon-ju, South Korea
          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>Interests</h1>
            <span>Current</span>
          </header>
          <p>
            Ruby on Rails<br/>
            TDD<br/>
            Web Design<br/>
            Illustraions<br/>
            Animation
          </p>
        </div>
      </div>
    </li>

  </ul>
</div><!-- /about_wrapper -->