<h1 id='header_pink'>Who Are You, Rira?</h1>

<div class="about_wrapper">
  <ul class="stage clearfix">

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>Rira Choi</h1>
            <span class="year">DOB : </span>
            <span class="state">May 22 1987</span>
          </header>
          <p>
            Language : Korean, English
            Position : Full-stack Web Delevoper

            Ruby, Ruby on Rails, Java Script, Jquery, Backbone, Sinatra, HTML, HAML, CSS, Coffee Script, SCSS, SQL, TDD, Rspec.
          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>Education</h1>
            <span class="year">2006-2014</span>
          </header>
          <p>
            - Web Development Immersive, Full-time, Genral Assemlby, Sydney, Australia (Aug.2014~Jun.2014 )<br/>
            - Photoshop and Adobe Illustrator, Beginner, Thejoeun Academy, Gwang-Ju, South Korea  (Dec.2013~Jan.2014 )<br/>
            - Bachelor of Economics & Business Management, Cheonbuk National University, Jeon-ju, South Korea ( Mar.2006~Aug.2010 )
          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="about_me" onclick="return true">
        <div class="poster"></div>
        <div class="info">
          <header>
            <h1>What I Love</h1>
            <span class="year">Current</span>
            <span class="state"></span>
            <span class="duration"></span>
          </header>
          <p>
            Ruby on Rails<br/>
            TDD<br/>
            Web Design<br/>
            Illustraions
          </p>
        </div>
      </div>
    </li>

  </ul>
</div><!-- /about_wrapper -->