<h1 id='header_purple'>Contact</h1>

<div id='contact_body'>

  <input type="checkbox" id="check"/>
  <div id="izq"></div><div id="der"></div>
    <div class="contact_info">
      <%= image_tag('pages/anytime.png', :class => 'faceImg') %>
      <h3>   Here is my number, Call Me Maybe!! </h3>
      <p id="mobile"><span class="my_info">+61 431 062 689</span></p>
      <p><span class="my_info">Sydney NSW </span></p>

    <div id="myinfo_icon">
      <a href="mailto:rira.nunu.choi@gmail.com" class="my_info"><%= image_tag('pages/gmail.png', :title =>'Gmail') %></a>
      <%= link_to(image_tag('pages/github.png', :title=>'Github', :id => 'github'), 'http://rirachoi.github.io', :target => '_blank') %>
      <%= link_to(image_tag('pages/linkedin.png', :title=>'Linkedin'), 'https://au.linkedin.com/in/rirachoi', :class => 'my_info', :target => '_blank') %>
    </div>
  <div/>
</div>
