<h1 id='header_purple'>Contact</h1>

<div id='contact_body'>

  <input type="checkbox" id="check"/>
  <div id="izq"></div><div id="der"></div>

    <div class="contact_info">
    <%= image_tag('anytime.png', :class => 'faceImg') %>
    <h3>   Here is my number, Call Me Maybe!! </h3>
    <p>Mobile: +61) 431 062 689</p>
    <p>Address: Sydney NSW </p>
    <p>Email: rira.nunu.choi@gmail.com </p>
    <p><%= link_to 'Github', 'https://github.com/rirachoi' %></p>
    <p> Linkin </p>

  <div/>
</div>