<h1 id='header_purple'>Contact</h1>

<div id='contact_body'>

  <input type="checkbox" id="check"/>
  <div id="izq"></div><div id="der"></div>

    <div class="contact_info">
    <%= image_tag('anytime.png', :class => 'faceImg') %>
    <h3>   Here is my number, Call Me Maybe!! </h3>
    <p id="mobile"><span class="my_info">+61 431 062 689</span></p>
    <p><span class="my_info">Sydney NSW </span></p>

    <div id="myinfo_icon">
      <%= link_to(image_tag('gmail.png', :title =>'Gmail'), "rira.nunu.choi@gmail.com", :class => 'my_info') %>
      <%= link_to(image_tag('github.png', :title=>'Github', :id => 'github'), 'https://github.com/rirachoi') %>
      <%= link_to(image_tag('linkedin.png', :title=>'Linkedin'), 'https://github.com/rirachoi', :class => 'my_info') %>
    </div>

  <div/>
</div>