<div id="letter-container" class="letter-container">
  <h2>
    <a href="#">Little Ruby NINJA</a>
  </h2>
</div>

<div id="main-body">
  <div id='main-left'>
    <div class='word-one'><span>Curious</span></div>
    <div class='word-two'><span>Ambitious</span></div>
    <div class='word-three'><span>Intuitive</span></div>
  </div>

  <div id="main-middle">
    <%= image_tag('lalala.png')%>
  </div>
<!--
  <div id="main-right">
    <div class='word-four'>Hard Worker</div>
    <div class='word-five'>Lateral Thinker</div>
    <div class='word-six'>Quick Learner</div>
  </div> -->
</div>