<div id="letter-container" class="letter-container">
  <h2>
    <a href="#">Ruby HACKER</a>
  </h2>
</div>

<div id="main-body">

  <div id="macbook">
    <div id="mac-screen">
      <p class="typist"></p>
    </div>
  </div>

  <div id="main-right">
    <%= link_to image_tag('takeaway-coffee.png', :id => 'coffee-img'), pages_contact_path, :title => 'Let\'s meet for coffee!' %>
  </div>
  <div id="shelf"></div>


</div>
