<h1 id="header_yellow">Rira Choi's Projects</h1>

<div class="projects_wrapper">
  <ul class="stage clearfix">

    <li class="scene" id="poster-left">
      <div class="key-project" onclick="return true" >
        <div class="poster">
          <h3>SOLUHO CALENDAR</h3>
        </div>
        <div class="info">
          <header>
            <a href="http://publicholiday-calendar.herokuapp.com">SOLUHO CALENDAR</a>
          </header>
          <p>
            A Solar, Lunar and International Public Holiday calendar application using: Ruby on Rails, enrico gem, API and Lunar date CSV file.
            <br/>
            The user can correlate international holidays to the lunar calendar. Allows personalized event management with icons.

          </p>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="key-project" onclick="return true">
        <div class="poster">
          <h3>FIREBALL</h3>
        </div>
        <div class="info">
          <header>
            <a href="http://fireballtalks.herokuapp.com">FIREBALL</a>
          </header>
          <p>
            An international chat translator and game application with 65+ own-brand stickers using: Ruby on Rails, Google translate API, JavaScript and jQuery.
            <br/>
            Application is split into two core functions. Chat function allows language learning with audio and custom animations. Game function teaches users languages through word memory and typing with scoring.
          </p>
        </div>
      </div>
    </li>

    <li class="scene" id="poster-right">
      <div class="key-project" onclick="return true">
        <div class="poster">
          <h3>WORLD MAP NEWS</h3>
        </div>
        <div class="info">
          <header>
            <a href="http://worldmapnews.herokuapp.com">WORLD MAP NEWS</a>
          </header>
          <p>
            An international news application with the world map using: Ruby on Rails, jQuery, feedzilla API, TDD with Simplecov and RSpec.
            <br/>
            A user can search news based on geographical location and further optimize search results based on keywords or categories. Users can save search preferences.

          </p>
        </div>
      </div>
    </li>

  </ul>
</div><!-- /about_wrapper -->
