<div id='currentProjectId' style="display:none;">
  <%= @project.id %>
</div>


 <div class="wrapper">
  <ul id="sb-slider" class='sb-slider'>
    <% @project.image_description.each do |des_image| %>
    <li><%= image_tag(des_image, :class =>'sliced_image') %></li>

    <div class="sb-description">
      <h3><%= @project.title %>( <%=@project.date %> )</h3>
    </div>

    <% end %>
  </ul>

 </div>

<div id="shadow" class="shadow"></div>

<div id="nav-arrows" class="nav-arrows">
  <a href="#" class="right" title="Next">Next</a>
  <a href="#" class="left" title="Previous">Previous</a>
</div>