@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

*{
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Indie Flower', fantasy;
  max-width: 960px;
  text-align: center;
  background: url(simple_wood.jpg);
  /*  background-color: rgba(0, 0, 0, 0.);*/
  text-align: center;
  background-size: 100%;
  width: 100%;
  height:500%;
  margin: auto;
}

/*.bg{
  background: url(simple_wood.jpg);
  position: fixed;
  background-size: 100%;
  width: 90%;
  height: 400%;
  top:0;
  left:5%;
  right:5%;
  z-index: -1;
  margin: auto;
}
*/
#container{
  margin: auto;
  width: 900px;
  background: url(spring_notebook.png) no-repeat;
  background-size: 100% 100%;
  height: 800px;
  margin-left: 2%;
}

h1 {
  font-size: 48px;
}

p{
  font-family: 'Special Elite', fantasy;
  font-size: 25px;
  color: rgba(0,0,0,.6);
}

h2 {
  font-family: 'Special Elite', fantasy;
  font-size: 50px;
  color: rgba(0,0,0,.6);
}

#header_green{
  background: url(header/header_green.png) no-repeat;
  background-size: 103% 109%;
}

#header_yellow{
  background: url(header/header_yellow.png) no-repeat;
  background-size: 104% 114%;
}

#header_pink{
  background: url(header/header_pink.png) no-repeat;
  background-size: 104% 114%;
}

#header_purple{
  background: url(header/header_puple.png) no-repeat;
  background-size: 104% 114%;
  font-family: 'Indie Flower', fantasy;
}

.btn_description, .btn_preview{
  height: 140px;
  width: 140px;
  line-height: 4.5em;
  outline: none;
  background: rgb(201, 35, 19);
  box-shadow: inset 0 -.125rem rgba(0,0,0,.2);
  border-radius: 100% 100% 0 100%;
  cursor: pointer;
  transform-origin: 100% 100%;
  margin-bottom: 3%;
  text-shadow: 3px 3px 5px rgb(0,0,0);
}

#middle{
  width: 140px;
}

.btn_description, .btn_preview, #middle{
  display: inline-block;
}

.btn_preview{
  border-radius: 100% 100% 100% 0;
}

.btn_description, .btn_preview a{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat Alternates', arial;
}

.btn_description:hover, .btn_preview:hover {
  background-color: #8D1919;
}

#blank{
  height:5%;
  margin-top: 15%;

}

#wdi_title{
  font-size: 35px;
  color: #777;
}

ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 200px;
    list-style: none;
    z-index:999999;
}

ul#navigation li {
    display:inline;
    float:left;
    width:100px;
    margin-left:1px;
    font-size: 18px;
}

ul#navigation li a {
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    float: left;
    width: 100px;
    height: 35px;
    color: #603d05;
    background: transparent url(item.png) no-repeat bottom right;
    text-decoration:none;
    text-align: center;
    padding-top: 80px;
    margin-top: -40px;
    cursor: pointer;
}


