@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs);

*{
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Love Ya Like A Sister', "Myriad Pro";
  max-width: 960px;
  text-align: center;
  background: url(pages/simple_wood.jpg);
  /*  background-color: rgba(0, 0, 0, 0.);*/
  text-align: center;
  background-size: 100% 100%;
  width: 100%;
  height:500%;
  margin: auto;
}

/*.bg{
  background: url(simple_wood.jpg);
  position: fixed;
  background-size: 100%;
  width: 90%;
  height: 400%;
  top:0;
  left:5%;
  right:5%;
  z-index: -1;
  margin: auto;
}
*/
#container{
  margin: auto;
  width: 900px;
  background: url(spring_notebook.png) no-repeat;
  background-size: 100% 100%;
  height: 800px;
  padding-left: 70px;
  margin-left: -20px;
}

.projects-index .homeworks{
  margin: auto;
  width: 900px;
  background: url(spring_notebook.png) no-repeat;
  background-size: 100% 100%;
  height: 800px;
  margin-left: 2%;
}

h1 {
  font-size: 70px;
  font-family: 'Mouse Memoirs';
  padding: 15px 0 5px 0;
}

p{
  font-family: 'Love Ya Like A Sister', "Myriad Pro";
  font-size: 25px;
  color: rgba(0,0,0,.6);
}

h2 {
  font-family: 'Love Ya Like A Sister', "Myriad Pro";
  font-size: 50px;
  color: rgba(0,0,0,.6);
}

img{
  border-radius: 0.3em;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
  transition: all .5s ease;
}

#header_green{
  margin-top: 5%;
  background: url(header/header_green.png) no-repeat;
  background-size: 103% 109%;

}

#header_purple{
   margin-top: 5%;
  background: url(header/header_puple.png) no-repeat;
  background-size: 104% 114%;
}

#blank{
  height:5%;
  margin-top: 20%;
}

.container-blank{
  height: 3%;
  margin-top: 3%;
}

#wdi_title{
  font-size: 60px;
  color: rgba(0,0,0, 0.7);
}

ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 200px;
    list-style: none;
    z-index:999999;
}

ul#navigation li {
    display:inline;
    float:left;
    width:130px;
    margin-left:3px;
    font-size: 18px;
}

ul#navigation li a {
    display: block;
    font-weight: bold;
    font-family: 'Mouse Memoirs';
    font-size: 23px;
    text-shadow: 0 0 1px #fff;
    float: left;
    width: 130px;
    height: 35px;
    color: #603d05;
    background: transparent url(pages/item.png) no-repeat bottom right;
    text-decoration:none;
    text-align: center;
    padding-top: 80px;
    margin-top: -40px;
    cursor: pointer;
}

.ongoing_msg{
  display: inline-block;
}

.ongoing_msg div{
  display: inline-block;
  margin: 10px;
  margin-top: 150px;
}

.ongoing_msg img{
  width: 250px;
  height: 150px;
}

/************ CONTACT CSS *************/


#contact_body {
  height: 100%;
  overflow: hidden;
}

input[type="checkbox"] {
  background: rgba(130, 83, 55, 0.6);
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -2%;
  width: 60px;
  height: 60px;
  -webkit-appearance: none;
  outline:0;
  transition: all 0.4s ease-in-out;
  z-index: 10;
  box-shadow: inset 0 -.125rem rgba(0,0,0,.4);
}

input[type="checkbox"]:hover {
  background: rgba(130, 83, 55, 0.8);
}

input[type="checkbox"]:after {
  color: #fff;
  content: 'Click';
  font-size: 1em;
  line-height: 41px;
  width: 100%;
  height: 100%;
}

input[type="checkbox"]:checked {
  background: rgba(154, 108, 80, 0.9);
  transform: rotateZ(360deg);
}

input[type="checkbox"]:checked ~ #izq {
  transform: translateX(-50%);
}

input[type="checkbox"]:checked ~ #der {
  transform: translateX(50%);
}

/* modifique transition: "all" por "transform" // creditos Fork: http://codepen.io/bfeelyweb/details/AuJaz#forkline de  Bennett Feely */

#izq, #der {
  position: absolute;
  -webkit-backface-visibility: hidden;
  transition: transform ease-in-out .4s;
  width:  465px;
  height: 730px;
  z-index: 5;
  top: 350px;
}

#izq {
  background: url(https://i.imgur.com/qYpNpM0.png?1) no-repeat top right;
  background-size: 100% 100%;
}

#der {
  background: url(https://i.imgur.com/CM9zqFU.png?1) no-repeat left top;
  left:50%;
  background-size: 100% 100%
}

#contact_body p, a{
  font-size: 15px;
  color: rgba(0,0,0,0.6);
}

#contact_body h3{
  font-size: 20px;
  font-family: 'Love Ya Like A Sister', "Myriad Pro";
  color: rgba(0,0,0,0.6);
}
#mobile{
  margin-bottom: 5%;
}

.contact_info{
  display: none;
}

.faceImg{
  width:325px;
  height: 250px;
}

.my_info{
  font-size: 18px;
}

#myinfo_icon img{
  display: inline-block;
  width: 60px;
  height: 60px;
  box-shadow: none;
  margin: 0.5%;
}

#myinfo_icon img:hover{
  transform: scale(1.2,1.2);
}

#github{
  height:100px;
}


/*********** main-page ***********/

#main-body{
  width: 1100px;
  height: 700px;
  margin: auto auto auto -15%;
}

#main-window{
  margin: 5% 0 0 auto;
  width: 1100px;
  height:900px;
  overflow: hidden;
}

#main-left, #macbook{
  box-shadow: none;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 3%;
}

#shelf{
  background: url(book-shelf.png) no-repeat;
  background-size: 100% 100%;
  width: 1100px;
  height: 150px;
  z-index: -1;
  margin: -65px auto auto auto;
}

#main-left, #main-right{
  margin:auto;
}

#main-left{
  width: 250px;
}

#coffee-img{
  width: 250px;
  height: 250px;
  box-shadow: none;
}

#coffee-img:hover{
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  transform:rotate(-10deg);
}


#macbook{
  background: url(macbook1.png) no-repeat;
  background-size: 100% 100%;
  margin:auto;
  width: 665px;
  height: 400px;
}


.typist{
  color: rgba(0,225,0,0.7);
  font-family: Menlo;
  font-size: 23px;
}

#mac-screen{
  width: 420px;
  height: 280px;
  margin: -5px auto 10px auto;
  overflow: hidden;
  text-align: left;
}


@media(max-width: 1024px){
  #check{
    display: none;
  }

  #izq, #der{
    display: none;
  }


}
