/****** project header ***/

.letter-container {
  border-bottom: 2px dashed #C9B18F;
  margin: -60px auto auto auto;

}
.letter-container h2 {
  font-family: 'Mouse Memoirs';
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.letter-container h2 a {
  text-align: center;
  padding: 20px;
}
.letter-container h2 a span {
  font-size: 105px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  color: #C9B18F;
  opacity: 1;
  text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
  -webkit-mask-image: url(mask2.png);
  -moz-mask-image: url(mask2.png);
  -o-mask-image: url(mask2.png);
  mask-image: url(mask2.png);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: sharpen 0.6s linear backwards;
  -moz-animation: sharpen 0.6s linear backwards;
  -ms-animation: sharpen 0.6s linear backwards;
  animation: sharpen 0.6s linear backwards;
}
.letter-container h2 a span:hover{
  color: #fff;
}
.letter-container h2 a span:nth-child(1) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.letter-container h2 a span:nth-child(3) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.letter-container h2 a span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.letter-container h2 a span:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.letter-container h2 a span:nth-child(7) {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.letter-container h2 a span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.letter-container h2 a span:nth-child(9) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.letter-container h2 a span:nth-child(11) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.letter-container h2 a span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.letter-container h2 a span:nth-child(13) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.letter-container h2 a span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.letter-container h2 a span:nth-child(15) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.letter-container h2 a span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.letter-container h2 a span:nth-child(17) {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.letter-container h2 a span:nth-child(18) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.letter-container h2 a span:nth-child(19) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(20) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.letter-container h2 a span:nth-child(21) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.letter-container h2 a span:nth-child(22) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.letter-container h2 a span:nth-child(23) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.letter-container h2 a span:nth-child(24) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(25) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #fff;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
 }
 100% {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #fff;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
 }
 100% {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #fff;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
 }
 100% {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #fff;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
 }
 100% {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}


/******** KEY PROJECT CSS ********/

.key-project:after, .key-project:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.projects_wrapper {
  margin: 0 auto 100px auto;
  max-width: 960px;
  font-family: 'Love Ya Like A Sister', "Myriad Pro";
  margin: 3% auto auto auto;
}

.stage {
  list-style: none;
  padding: 0;
}

/** Build the scene and rotate on hover **/

.scene {
  width: 260px;
  height: 400px;
  margin: 2%;
  display: inline-block;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.key-project {
  width: 260px;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
  -moz-transform: translateZ(-130px);
  transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 350ms;
  -moz-transition: -moz-transform 350ms;
  transition: transform 350ms;
}

.key-project:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  -moz-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-78deg) translateZ(20px);
}


/** Transform and style the two planes **/

.key-project .poster,
.key-project .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color: rgba(54, 44, 38, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.key-project .poster  {
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}

.key-project .info {
  -webkit-transform: rotateY(90deg) translateZ(130px);
  -moz-transform: rotateY(90deg) translateZ(130px);
  transform: rotateY(90deg) translateZ(130px);
  font-size: 0.75em;
}

/** Shadow beneath the 3D object **/

/*.csstransforms3d .key-project::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(130px);
  -moz-transform: rotateX(90deg) translateY(130px);
  transform: rotateX(90deg) translateY(130px);
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}*/

.csstransforms3d .key-project:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/**.key-project information **/
.strong, .strong p {
  font-size: 15px;
  color: whitesmoke;
}

.info header {
  color: #FFF;
  padding: 7px 10px;
  font-weight: bold;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

/*.info header .state {
  border: 1px solid #FFF;
  padding: 0px 3px;
}
*/
.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  font-size: 12px;
  color: rgba(225,225,225,0.9);
  line-height: 1.4em;
  border-top: 5px solid rgba(0,0,0, 0.8);
}

.key-project .info header a{
  color: white;
}

/* Generate "lighting" using box shadows */

.key-project .poster,
.key-project .info,
.key-project .info header {
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

.csstransforms3d .key-project .poster {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .key-project:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .key-project .info,
.csstransforms3d .key-project .info header {
  box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .key-project:hover .info,
.csstransforms3d .key-project:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/* Posters and still images */

.scene:nth-child(1) .key-project .poster {
  background-color: rgba(225, 225, 225, 0);
}

.scene:nth-child(2) .poster {
  background-color: rgba(225, 225, 225,0);
}

.scene:nth-child(3) .poster {
  background-color: rgba(225, 225, 225,0);
}

.scene:nth-child(1) .info header {
  background-image: url(retrotv.png);
  background-size: 100% 100%;
  background-color: black;

}

.scene:nth-child(2) .info header {
  background-image: url(retrotv.png);
  background-size: 100% 100%;
  background-color: black;
}

.scene:nth-child(3) .info header {
  background-image: url(retrotv.png);
  background-size: 100% 100%;
  background-color: black;
}


/** Fallback **/
.no-csstransforms3d .key-project .poster,
.no-csstransforms3d .key-project .info {
  position: relative;
}

#poster-img{
  border-radius: 100%;
  border: 10px solid rgba(95, 79, 65, 0.6);
  width: 200px;
  height: 200px;
  margin: auto;
  box-shadow: none;
}

.poster-round{
  width: 220px;
  height: 220px;
  margin: 30px auto auto auto;
  border-radius: 100%;
  border: 5px solid rgba(225,225,225,0.9);
}

.poster h3{
  color: whitesmoke;
  font-family: 'Mouse Memoirs';
  font-size: 50px;
  height: 80px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.demo-github{
  display: inline-block;
  bottom: 15px;
  position:fixed;
}

.demo-github a{
  margin:auto auto auto 10px;
  font-size: 40px;
  font-family: 'Mouse Memoirs';
  color: rgba(154, 108, 80, 0.9);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

.demo-github a:hover{
  color: rgba(223,50,50,0.7);
}

.info header h2{
  font-family: 'Mouse Memoirs';
  font-size: 40px;
  margin: 40px auto 0 -30px;

}

.info .demo-github img{
  width: 150px;
  height: 150px;
  margin-left: -160px;
  top: -40px;
  position: absolute;
  bottom: 0;
  box-shadow: none;
}

.projects-index{
  background: url(old-lather-book.png) no-repeat;
  background-size: 100% 100%;
  padding:0 10% 0 10%;
}


/** Media Queries **/
@media screen and (max-width: 60.75em){
  .scene {
    float: none;
    margin: 30px auto 60px;
  }
}

