
.best_homeworks img{
  width: 150px;
  height: 100px;
  margin: auto;
}

.small_images {
  display: inline-block;
}

.best_homeworks{
  width: 750px;
  margin: auto 10% auto 13%;
}

#content{
  width:824px;
  height:1300px;
  margin:auto auto -200px 8%;
  background:transparent url(pages/content_background.png) no-repeat top left;
  text-align: center;
}

.preview_mainImg{
  width: 400px;
  height: 250px;
  margin-top: 50px;
}

#content .small_images{
  width: 150px;
  height: 100px;
  margin: auto;
  border-radius: 5px;
}

/* Project Show Page */

#project_details{
  width: 700px;
}

.imgs{
  width: 300px;
}

img{
  border-radius: 0.3em;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
  transition: all .5s ease;
}

#content img:hover{
  transform: scale(1.2,1.2);
}

.preview{
  position:absolute;
  border:3px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
}


.images{
  width: 700px;
  margin: auto 3% 3% 8%;
}

#preview_img img{
  width: 550px;
  height: 300px;
  margin-top: -0.5%;
  border: 5px solid rgba(0,0,0,.3);
}

#preview_img {
  font-size: 20px;
}

.show_main_image, .des_image{
  width: 700px;
}

#images_details{
  position: relative;
  margin: auto 5% auto 5%;
  width: 900px;
  overflow: hidden;
}

.btn_description, .btn_preview, .btn_top{
  display: inline-block;
}

.description_icon, .preview_icon, .top_icon{
  background: url(project_nav/round_nav.png)no-repeat;
  background-size: 100%, 100%;
  width: 170px;
  height: 150px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  font-size: 15px;
}

.description_icon img, .preview_icon img, .top_icon img{
  width: 50px;
  height: 50px;
  opacity: 0.7;
  margin-top: 25px;
}

.arrow_top{
  box-shadow: none;
}

